footer{
    background-color: #1E1E1E;
    color: #919191;
    text-align: center;
    font-size: 12px;
}

.mainbox{
    border: 1px solid #ebebeb;
    width: 610px;
    text-align: center;
    margin: 0 auto;
}